<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Blog</title>
  </head>
  <body>
    <div class="container m-5">
      <h1 class="mb-3"><%= item.title %></h1>
      <h4 class="mb-1">Type: <%= item.type %></h4>
      <h5 class="mb-1">
        Amount: <%= new Intl.NumberFormat('en-GB', { style: 'currency', currency: 'GBP'
        }).format(item.number) %>
      </h5>
      <div class="text-muted mb-2"><%= item.createdAt.toLocaleDateString() %></div>
      <div class="mb-2"><%= item.description %></div>
      <a href="/" class="btn btn-secondary">All items</a>
      <a href="/items/edit/<%= item.id %>" class="btn btn-info">Edit</a>

      <!-- <div><(%-) item.sanitizedHtml (%)></div> -->
    </div>
  </body>
</html>
